<div class="side-modal" [class.open]="showModal">
  <div class="modal-content">
    <button type="button" class="close-modal" (click)="closeModal()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-x">
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
  </button>
      <h1 class="libelle-question"><strong>{{titre}}</strong></h1>
      <div class="d-flex justify-content-between">
        <p class="form-label">Si la réponse est:</p>
        <mat-form-field>
          <mat-label>Modalité</mat-label>
          <select matNativeControl required>
            <option></option>
            <option *ngFor="let modalite of modalites">{{ modalite.libelle}}</option>
          </select>
        </mat-form-field>
        <p class="form-label">Passer à la question:</p>
        <mat-form-field>
          <mat-label>Question</mat-label>
          <select matNativeControl required>
            <option></option>
            <option *ngFor="let question of questions ; index as indexOfelement;" [ngValue]="question.id"> {{
              question.libelle }}</option>
          </select>
        </mat-form-field>
      </div>

  </div>
</div>