<li class="li-question">
    <textarea autosize class="form-control libelle-question" placeholder="Libellé de la question" rows="1"
        [(ngModel)]="libelleQuestion" name="libelleQuestion" readonly>
    </textarea>
    <div class="form-check libelle-modalite" *ngFor="let modalite of modalites; let i = index">
        <input class="form-check-input" type="checkbox" [(ngModel)]="modalite.isChecked"
            name="{{componentId}}_input-modalite-multiple" id="{{componentId}}_{{i}}" />
        <label class="form-check-label" for="{{componentId}}_{{i}}">
            {{ modalite.libelle}}
        </label>
    </div>
</li>