.side-modal {
    position: fixed;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    background-color: #f9f9f9;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 1050;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
  }
  
  .side-modal.open {
    right: 0;
  }
  
  .close-modal {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    border: none;
    color: #555;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
    .titre-modal{
      color: white;
      margin-top: -0.5vw;
    }
    mat-form-field{
      width: 100%;
    }
    .mots-cles{
      margin-top: 5%;
    }
  
  