<body>
  <button mat-button [matMenuTriggerFor]="menu"><img class="menu-general" [src]="path_img_menu"/></button>
  <!-- <img class="menu-general" src="assets/images/menu/menu-general/menu-general.png"/> -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item><span routerLink="/accueil"><img [ngClass]="'image-menu'"
          src="assets/images/menu/menu-general/home.png" /> Accueil</span></button>
    <button mat-menu-item [matMenuTriggerFor]="collecter"><img [ngClass]="'image-menu'"
        src="assets/images/menu/menu-general/collect.png" /> {{'menu-general.collect' | translate}}</button>
    <button mat-menu-item [matMenuTriggerFor]="preparer"><img [ngClass]="'image-menu'"
        src="assets/images/menu/menu-general/clean.png" /> {{'menu-general.clean' | translate}} </button>
    <button mat-menu-item [matMenuTriggerFor]="explorer"><img [ngClass]="'image-menu'"
        src="assets/images/menu/menu-general/explore.png" /> {{'menu-general.explore' | translate}} </button>
    <button mat-menu-item [matMenuTriggerFor]="visualiser"><img [ngClass]="'image-menu'"
        src="assets/images/menu/menu-general/visualize.png" /> {{'menu-general.visualize' | translate}} </button>
    <button mat-menu-item [matMenuTriggerFor]="liensUtiles"><img [ngClass]="'image-menu'"
        src="assets/images/menu/menu-general/links.png" /> {{'menu-general.usefull-links' | translate}} </button>
    <button mat-menu-item [matMenuTriggerFor]="langues"><img [ngClass]="'image-menu'"
        src="assets/images/menu/menu-general/language.png" /> {{'menu-general.language' | translate}} </button>
    <button mat-menu-item [matMenuTriggerFor]="themes"><img [ngClass]="'image-menu'"
        src="assets/images/menu/menu-general/theme.png" /> {{'menu-general.theme' | translate}} </button>
  </mat-menu>

  <mat-menu #collecter="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item [matMenuTriggerFor]="questionnaire">Questionnaire</button>
    <button mat-menu-item [matMenuTriggerFor]="telecharger">Télécharger un fichier</button>
  </mat-menu>

  <mat-menu #preparer="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item>opération 1</button>
    <button mat-menu-item>opération 2</button>
    <button mat-menu-item>oération 3</button>
  </mat-menu>

  <mat-menu #explorer="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item><span [routerLink]="['/my-questionnary', 'titre']"><img [ngClass]="'image-menu'"
          src="assets/images/menu/explore/analyse.png" />Explorer les tendances</span></button>
    <button mat-menu-item>Explorer 2</button>
  </mat-menu>

  <mat-menu #liensUtiles="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item><span><a class="dropdown-item" href="https://pandas.pydata.org/docs/index.html"
          target="_blank">Pandas : Documentation</a></span></button>
    <button mat-menu-item><a class="dropdown-item" href="https://numpy.org/doc/stable/" target="_blank">Numpy :
        Documentation</a></button>
    <button mat-menu-item><a class="dropdown-item" href="https://seaborn.pydata.org/tutorial.html"
        target="_blank">Seaborn : Guide & tutoriel</a></button>
  </mat-menu>

  <mat-menu #visualiser="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item>Visualiser 1</button>
    <button mat-menu-item>Visualiser 2</button>
  </mat-menu>

  <mat-menu #langues="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item (click)="switchToEnglish()">{{'menu-general.en' | translate}}</button>
    <button mat-menu-item (click)="switchToFrench()">{{'menu-general.fr' | translate}}</button>
  </mat-menu>

  <mat-menu #themes="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item (click)="setLightTheme()">{{'menu-general.light' | translate}}</button>
    <button mat-menu-item (click)="setDarkTheme()">{{'menu-general.dark' | translate}}</button>
  </mat-menu>

  <mat-menu #telecharger="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item><img [ngClass]="'image-menu-xl'" src="assets/images/menu/collect/csv.png" /></button>
    <button mat-menu-item><img [ngClass]="'image-menu-xl'" src="assets/images/menu/collect/pdf.png" /></button>
    <button mat-menu-item><img [ngClass]="'image-menu-xl'" src="assets/images/menu/collect/xml.png" /></button>
    <button mat-menu-item><img [ngClass]="'image-menu-xl'" src="assets/images/menu/collect/json.png" /></button>
    <button mat-menu-item><img [ngClass]="'image-menu-xl'" src="assets/images/menu/collect/txt.png" /></button>
  </mat-menu>

  <mat-menu #questionnaire="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item><span routerLink="/my-questionnary"><img [ngClass]="'image-menu'"
          src="assets/images/menu/collect/mes_questionnaires.png" /> Mes questionnaires</span></button>
    <button mat-menu-item><span routerLink="/new-questionnary"><img [ngClass]="'image-menu'"
          src="assets/images/menu/collect/nouveau_questionnaire.png" />Nouveau questionnaire</span></button>
    <!-- <button mat-menu-item><span routerLink="/organigramme"><img [ngClass]="'image-menu'" src="assets/images/menu/collect/organigramme.png"/>Organigramme - Prime Ng</span></button>
  <button mat-menu-item><span routerLink="/gauge"><img [ngClass]="'image-menu'" src="assets/images/menu/collect/gauge.png"/>Gauje</span></button> -->
  </mat-menu>

  <div>
    <router-outlet></router-outlet>
  </div>

</body>