
  <!-- <div class="dashboard-container">
    <div class="widget-selector">
      <div><button mat-button (click)="addWidget('text')">Ajouter un Widget Texte</button></div>
      <div><button mat-button (click)="addWidget('table')">Ajouter un Widget Tableau</button></div>
      <div><button mat-button (click)="addWidget('chart')">Ajouter un Widget Graphique</button></div>
    </div>
    <div class="widgets-area" cdkDropList (cdkDropListDropped)="drop($event)">
      <ng-container *ngFor="let widget of widgets; let i = index">
        <app-widget [type]="widget.type" [data]="widget.data" cdkDrag></app-widget>
      </ng-container>
    </div>
  </div> -->
