
    <body>


    <div class="container py-4">
  

        <div class="container-fluid py-1 header-section">
            <div class="title-app">
                <label>QuaeroQuesto</label>
            </div>
            <div class="baseline">
                <label>Un outil au service de la connaissance</label>
            </div>
        </div>

  
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="tuile">
            <h1 class="title-section">Création de questionnaires intuitive</h1>
            <p class="text-basic">QuaeroQuesto est puissant, facile à prendre en main et multilingue. Créez des questionnaires complexes en toute simplicité grâce à une variété de types de questions et une gestion souple des liens entre elles.</p>
                <button mat-flat-button>En savoir plus</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="tuile">
            <h1 class="title-section">Diffusion des questionnaires simplifiée</h1>
            <p class="text-basic">Sélectionnez un questionnaire, importez une liste de contacts ou ajoutez-les un à un, et envoyez ! Vous pouvez constituer une liste de contacts à votre rythme et envoyer vos questionnaires au moment opportun..</p>
            <button mat-flat-button>En savoir plus</button>
          </div>
        </div>
        <div class="col-md-6">
            <div class="tuile">
                <h1 class="title-section">Exploitation approfondie des données recueillies</h1>
                <p class="text-basic">Visualisez les résultats en temps réel avec nos tableaux et graphiques intégrés. Exportez vos données pour une analyse plus poussée avec des outils externes.
                </p>
                <button mat-flat-button>En savoir plus</button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="tuile">
                <h1 class="title-section">Mise en forme personnalisée des rapports d'étude</h1>
                <p class="text-basic">Créez des rapports professionnels avec nos modèles personnalisables. Présentez vos données de manière claire et impactante.</p>
                    <button mat-flat-button>En savoir plus</button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="tuile">
                <h1 class="title-section">Diffusion rapide et élargie des rapports d'étude</h1>
                <p class="text-basic">Diffusez vos résultats grâce à notre éditeur de tableaux de bord et nos options d'export. Partagez vos enquêtes avec les utilisateurs autorisés sur un espace dédié.</p>
                    <button mat-flat-button>En savoir plus</button>
            </div>
          </div>
      </div>
  
      <footer class="pt-3 mt-4 border-top">
        &copy; 12/2025 QuaeroQuesto
      </footer>
    </div>

  </body>